In [3]:
#Answer 1: Sort the given list of tuple based on integer value using lambda.
data = [('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Virat Kohli',24936)]
sorted_data = sorted(data,key=lambda x : x[1])
print(sorted_data)

[('Virat Kohli', 24936), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [4]:
#Answer 2:WAP to find the squares of all the numbers given in the list using lambda and map function.
numbers = [1,2,3,4,5,6,7,8,9,10]
squared_numbers = list(map(lambda x: x**2,numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#Answer 3:WAP to convert the given list of integer into a tiple of strings using map and lambda function.
numbers = [1,2,3,4,5,6,7,8,9,10]
string_tuple = tuple(map(lambda x : str(x),numbers))
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
#Answer 4:WAP using reduse function to compute the product of a list containing numbers 1 to 25.
from functools import reduce
numbers = list(range(1,26))
product = reduce(lambda x,y : x*y , numbers)
print(product)

15511210043330985984000000

In [8]:
#Answer 5:WAP to filter the numbers in given list that are divisible by 2 and 3 using filter function.
numbers = [2,3,6,9,27,60,90,120,55,46]
filtered_numbers = list(filter(lambda x : x % 2==0 and x % 3==0,numbers))
print(filtered_numbers)

[6, 60, 90, 120]

In [14]:
#Answer 6: WAP to find palindromes in the given list of string using lambda and filter function.
words = ['python','php','aba','radar','level']
palindromes = list(filter(lambda x: x == [-1],words))
print(palindromes)

[]